@use '../../styles/resources/sizes';

.my-etherscanlink-img {
  display: inline-block;
  background-color: #ffffff;
  border-radius: 50%;
  vertical-align: middle;
  padding: 1px;
  width: sizes.$size;
  height: sizes.$size;

  img {
    width: 100%;
    height: 100%;
    margin: auto;
  }
}
