.my-ulink:hover {
  text-decoration: underline;

  &.my-disabled-fg {
    text-decoration: inherit;
  }
}

.my-link,
.my-button-link,
.my-ulink {
  display: inline-flex;
  align-items: center;
  border: 0px;
  background-color: inherit;

  &.my-active {
    font-weight: bold;
  }
}
