@use '../styles/resources/colors';
@use '../styles/resources/sizes';

// Variables

$color: colors.$dark-active;
$color-highlight: colors.$primary;

// Drawings

.my-loader {
  &-spinner,
  &-dots {
    width: sizes.$size;
    height: sizes.$size;
    margin: auto;
  }

  &-spinner {
    border: 4px solid $color;
    border-top: 4px solid $color-highlight;
    border-radius: 50%;
    animation: spin 2s linear infinite;
  }

  &-dots {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: $color;
    color: $color;
    animation: flash 1s infinite linear alternate;
    animation-delay: 0.5s;

    &:before,
    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      background-color: $color;
      color: $color;
      animation: flash 1s infinite alternate;
    }

    &:before {
      left: -15px;
      animation-delay: 0s;
    }

    &:after {
      left: 15px;
      animation-delay: 1s;
    }
  }
}

// Animations

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes flash {
  0% {
    background-color: $color-highlight;
  }
  50%,
  100% {
    background-color: $color;
  }
}
