@import 'https://fonts.googleapis.com/css2?family=Roboto+Slab:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap';

$primary: 'Roboto', 'Calibri', sans-serif;
$monospace: 'Roboto Mono', 'Consolas', monospace;
$serif: 'Roboto Slab', 'Times New Roman', serif;
